<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-hotel"></i>
    </div>
    <div class="sidebar-brand-text mx-3">KÝ TÚC XÁ</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Quản lý</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading" routerLink="/information">THÔNG TIN CÁ NHÂN</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Cài đặt</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quyền riêng tư:</h6>
        <a class="collapse-item" routerLink="/information"
          >Xem thông tin cá nhân</a
        >
        <a class="collapse-item" routerLink="/password">Đổi mật khẩu</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">QUẢN LÝ KÝ TÚC XÁ</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>Quản lý chung</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Sinh viên:</h6>
        <a class="collapse-item" routerLink="/contract">Sinh viên đã ở</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Loại phòng:</h6>
        <a class="collapse-item" routerLink="/room-type">Xem chi tiết</a>
        <a class="collapse-item" routerLink="/add-room-type">Thêm loại phòng</a>
        <div class="collapse-divider"></div>

        <h6 class="collapse-header">Dịch vụ:</h6>
        <a class="collapse-item" routerLink="/service">Quản lý dịch vụ</a>
        <a class="collapse-item" routerLink="/register-service"
          >Dịch vụ sinh viên đăng ký</a
        >
        <a class="collapse-item" href="login.html"></a>
        <div class="collapse-divider"></div>

        <h6 class="collapse-header">Phản hồi từ sinh viên:</h6>
        <a class="collapse-item" routerLink="/material">Cơ sở vật chất</a>
        <div class="collapse-divider"></div>

        <h6 class="collapse-header">Hóa đơn điện nước:</h6>
        <a class="collapse-item" routerLink="/bill">Xem chi tiết</a>
        <div class="collapse-divider"></div>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
</ul>
<!-- End of Sidebar -->
