<table
  id="example"
  class="table text-left text-center"
  style="font-size: small"
>
  <thead>
    <tr>
      <th>STT</th>
      <th>MSSV</th>
      <th>Họ tên</th>
      <th>Email</th>
      <th>SĐT</th>
      <th>Ngành</th>
      <th>Giới tính</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of students; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ s.numberStudent }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.phone }}</td>
      <td>{{ s.major }}</td>
      <td>{{ s.gender == 1 ? "Nam" : "Nữ" }}</td>
    </tr>
  </tbody>
</table>
<ng-container *ngIf="totalElements && limit">
  <app-pagination
    [currentPage]="currentPage"
    [limit]="limit"
    [total]="totalElements"
    (changePage)="changePage($event)"
  ></app-pagination>
</ng-container>
