<div id="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Danh sách hóa đơn điện nước</h1>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal1">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Cập nhật lại chỉ số điện nước</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>
              <div>
                <label for="finalWater">Chỉ số nước cuối</label>
                <br />
                <input
                  [(ngModel)]="finalWater"
                  name="finalWater"
                  id="finalWater"
                  type="number"
                />
              </div>
              <div>
                <label for="finalElectricity">Chỉ số điện cuối</label>
                <br />
                <input
                  [(ngModel)]="finalElectricity"
                  name="finalElectricity"
                  id="finalElectricity"
                  type="number"
                />
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="updateBill()"
            >
              Xác nhận
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <ng-container *ngIf="t">
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">
                THỐNG KÊ THÁNG {{ nowDate.getMonth() + 1 }} CỦA DÃY
                {{ t.roomType }}
              </h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6" style="color: #4caf50">
                  <h5>Danh sách phòng đã thanh toán</h5>
                  <ul>
                    <li *ngFor="let r of t.listRoomsPaids">Phòng {{ r }}</li>
                  </ul>
                </div>
                <div class="col-sm-6" style="color: #aca9a9">
                  <h5>Danh sách phòng chưa thanh toán</h5>
                  <ul>
                    <li *ngFor="let r of t.listRoomsUnpaids">Phòng {{ r }}</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!--Modal: modalPush-->
          <table
            id="example"
            class="table text-left text-center"
            style="font-size: small"
          >
            <thead>
              <tr>
                <th>STT</th>
                <th>Loại phòng</th>
                <th>Phòng</th>
                <th>Chỉ số nước đầu</th>
                <th>Chỉ số nước cuối</th>
                <th>Chỉ số điện đầu</th>
                <th>Chỉ số điện cuối</th>
                <th>Tổng tiền</th>
                <th>Ngày lập</th>
                <th>Người lập</th>
                <th>Người cập nhật</th>
                <th>Trạng thái</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of bills; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ b.roomType }}</td>
                <td>{{ b.numberRoom }}</td>
                <td>{{ b.initialWater }}</td>
                <td>{{ b.finalWater }}</td>
                <td>{{ b.initialElectricity }}</td>
                <td>{{ b.finalElectricity }}</td>
                <td>{{ b.price | number }}đ</td>
                <td>{{ b.createdDate | date : "dd-MM-yyyy" }}</td>
                <td>{{ b.admin.name }}</td>
                <td>
                  {{ b.admin2 == null ? "" : b.admin2.name }}
                </td>
                <td>
                  <div class="text-center" *ngIf="b.status">
                    <div
                      style="
                        background-color: green;
                        color: white;
                        font-weight: BOLD;
                      "
                      class="p-2"
                    >
                      ĐÃ THANH TOÁN
                    </div>
                  </div>
                  <div class="text-center" *ngIf="!b.status">
                    <div
                      style="
                        background-color: #b3b1b1;
                        color: white;
                        font-weight: BOLD;
                      "
                      class="p-2"
                    >
                      CHƯA THANH TOÁN
                    </div>
                  </div>
                </td>
                <td>
                  <button
                    class=""
                    class="glowing-button"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal1"
                    *ngIf="!b.status"
                    (click)="getBillId(b)"
                  >
                    Chỉnh sửa
                  </button>
                </td>
                <td>
                  <button
                    (click)="printPDF(b)"
                    class="btn btn-secondary"
                    ngxPrint
                    [printSectionId]="'your-invoice-section'"
                  >
                    In hóa đơn
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-container *ngIf="totalElements && limit">
            <app-pagination
              [currentPage]="currentPage"
              [limit]="limit"
              [total]="totalElements"
              (changePage)="changePage($event)"
            ></app-pagination>
          </ng-container>
        </div>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thống kê hàng tháng</h1>
      </div>

      <div style="display: flex" class="mb-4">
        <div
          style="
            background-color: #4caf50;
            color: #fff;
            width: 20%;
            height: 30px;
            border-radius: 4px;
          "
          class="mb-2 text-center mr-3"
        >
          % Số phòng đã thanh toán
        </div>
        <div
          class="text-center"
          style="
            background-color: #ddd;
            width: 20%;
            height: 30px;
            border-radius: 4px;
          "
        >
          % Số phòng chưa thanh toán
        </div>
      </div>
      <div class="text-center mb-3 mt-3">
        <label for="" style="font-weight: bold">Thời gian thống kê: </label
        ><br />
        <input type="date" [(ngModel)]="editDate" (change)="updateDate()" />
      </div>
      <ng-container *ngIf="thongKe.length != 0; else noData">
        <div class="row" style="text-align: justify">
          <div class="col-sm-6" *ngFor="let t of thongKe">
            <div style="font-weight: bold" class="mb-2">
              Dãy {{ t.roomType }}
            </div>
            <div>
              Tổng tiền điện nước tháng này: {{ t.totalPrice | number }}đ
            </div>
            <div>Số tiền thu được hiện tại: {{ t.currentPrice | number }}đ</div>
            <div>
              Số tiền còn nợ: {{ t.totalPrice - t.currentPrice | number }}đ
            </div>
            <app-progress-bar
              [percentage]="
                (t.numberOfRoomsPaid * 100) /
                (t.numberOfRoomsPaid + t.numberOfRoomsUnpaid)
              "
              (click)="showRoomType(t)"
              class="mt-3"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            ></app-progress-bar>
          </div>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="text-center">Chưa có dữ liệu của tháng này</div>
      </ng-template>
    </div>
  </div>
</div>
<div
  id="your-invoice-section"
  class="card"
  style="
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
  "
>
  <div
    class="card-header"
    style="
      background-color: #007bff;
      color: white;
      text-align: center;
      padding: 15px;
      border-radius: 10px 10px 0 0;
    "
  >
    <h4>Thông Báo Hóa Đơn Tiền Nước và Điện</h4>
  </div>
  <div class="card-body" style="padding: 20px">
    <div>Tiền điện: 1.728đ/ Kw</div>
    <div>Tiền nước: 5.973đ/ Khối</div>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px">
      <thead>
        <tr>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Loại phòng
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Phòng
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Chỉ số nước đầu
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Chỉ số nước cuối
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Chỉ số điện đầu
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Chỉ số điện cuối
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Tổng tiền
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Ngày lập
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Người lập
          </th>
          <th
            style="
              border: 1px solid #dee2e6;
              padding: 10px;
              text-align: center;
              background-color: #007bff;
              color: white;
            "
          >
            Người cập nhật
          </th>
        </tr>
      </thead>
      <tbody *ngIf="billPrintPDF">
        <tr>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.roomType }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.numberRoom }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.initialWater }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.finalWater }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.initialElectricity }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.finalElectricity }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.price | number }}đ
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.createdDate | date : "dd-MM-yyyy" }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            {{ billPrintPDF.admin.name }}
          </td>
          <td
            style="border: 1px solid #dee2e6; padding: 10px; text-align: center"
          >
            <span *ngIf="billPrintPDF.admin2">
              {{ billPrintPDF.admin2.name }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="color: #6c757d">
      Hóa đơn này phải thanh toán trước ngày cuối cũng trong tháng được thông
      báo. Vui lòng lên hệ thống quản lý thanh toán online.
    </p>
    <p style="color: red; font-weight: bold">
      Sẽ khóa điện nước nếu trễ hạn đóng tiền điện nước.
    </p>
  </div>
</div>
